.toeksw {
    z-index: 5;
    background-color: #333;
    min-height: 100vh;
}

.startNow {
    position: relative;
    margin-left: 15%;
    width: 70%;
    margin-top: -25%;
    color: white;
    z-index: 500;
}

.progress {
    display: flex;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.noymero {
    border: 3px solid rgb(255, 255, 255);
    padding: 0px 8px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10%;
}

.tohrstostart {
    flex: 1;
    border: none;
    border-top: 6px solid #ffffff; 
    margin: 0 10px; 
    margin-top: 32px;
}

#prasino {
    border: 3px solid rgb(255, 255, 255);
    background-color: greenyellow;
    color: rgb(0, 0, 0);
}

#prasinostohr {
  margin-top: 32px;
  border-top: 3px solid transparent;
  background: linear-gradient(to right, greenyellow 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: animateBorder 2s forwards;
  height: 3px; 
  width: 100%; 
  overflow: hidden; 
}

@keyframes animateBorder {
  0% {
      background-position: 100% 0;
  }
  100% {
      background-position: 0 0;
  }
}

#ginegreen {
  margin-top: 32px;
  border-top: 3px solid transparent;
  background: linear-gradient(to right, greenyellow 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: animateBorder 2s forwards;
  height: 3px; 
  width: 100%; 
  overflow: hidden; 
}

@keyframes animateBorder {
  0% {
      background-position: 100% 0;
  }
  100% {
      background-position: 0 0;
  }
}

#twra {
  background-color: greenyellow;
  color: black;
}

.ervthsh {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.ervthsh2 {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.apanthsh {
    border: 3px solid rgb(255, 255, 255);
    margin-bottom: 30px;
    color: white;
    padding: 0px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 550;
    cursor: pointer;
}


.apanthsh:hover {
    border: 3px solid rgb(255, 123, 0);
}

.kentroedw {
  text-align: center;
}

/* Κανόνες CSS για tablet */
@media (min-width: 601px) and (max-width: 768px) {
 
}

/* Κανόνες CSS για κινητά */
@media (max-width: 600px) {

  .startNow {
    position: relative;
    margin-left: 0.5%;
    width: 99%;
    margin-top: -20%;
    z-index: 500;
}

.progress {
    display: flex;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}


.ervthsh {
  width: 90%;
  margin-left: 5%;
}

.ervthsh2 {
  width: 90%;
  margin-left: 5%;
}

.ligomesa {
  margin-left: 5%;
  width: 90%;
}

}
/* 
          .path-0{
            animation:pathAnim-0 20s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
          }
          @keyframes pathAnim-0{
            0%{
              d: path("M 0,600 L 0,112 C 100.39999999999998,102.26666666666667 200.79999999999995,92.53333333333333 390,105 C 579.2,117.46666666666667 857.2,152.13333333333333 1047,157 C 1236.8,161.86666666666667 1338.4,136.93333333333334 1440,112 L 1440,600 L 0,600 Z");
            }
            25%{
              d: path("M 0,600 L 0,112 C 195.7333333333333,129.73333333333335 391.4666666666666,147.46666666666667 563,149 C 734.5333333333334,150.53333333333333 881.8666666666666,135.86666666666667 1024,127 C 1166.1333333333334,118.13333333333333 1303.0666666666666,115.06666666666666 1440,112 L 1440,600 L 0,600 Z");
            }
            50%{
              d: path("M 0,600 L 0,112 C 125.86666666666667,116.26666666666667 251.73333333333335,120.53333333333333 424,127 C 596.2666666666667,133.46666666666667 814.9333333333334,142.13333333333335 992,140 C 1169.0666666666666,137.86666666666665 1304.5333333333333,124.93333333333332 1440,112 L 1440,600 L 0,600 Z");
            }
            75%{
              d: path("M 0,600 L 0,112 C 172.13333333333333,127.33333333333333 344.26666666666665,142.66666666666666 495,144 C 645.7333333333333,145.33333333333334 775.0666666666666,132.66666666666669 929,125 C 1082.9333333333334,117.33333333333331 1261.4666666666667,114.66666666666666 1440,112 L 1440,600 L 0,600 Z");
            }
            100%{
              d: path("M 0,600 L 0,112 C 100.39999999999998,102.26666666666667 200.79999999999995,92.53333333333333 390,105 C 579.2,117.46666666666667 857.2,152.13333333333333 1047,157 C 1236.8,161.86666666666667 1338.4,136.93333333333334 1440,112 L 1440,600 L 0,600 Z");
            }
          }

          .path-1{
            animation:pathAnim-1 20s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
          }
          @keyframes pathAnim-1{
            0%{
              d: path("M 0,600 L 0,262 C 143.59999999999997,268.1333333333333 287.19999999999993,274.2666666666667 470,272 C 652.8000000000001,269.7333333333333 874.8,259.06666666666666 1043,256 C 1211.2,252.93333333333334 1325.6,257.4666666666667 1440,262 L 1440,600 L 0,600 Z");
            }
            25%{
              d: path("M 0,600 L 0,262 C 195.46666666666664,232.8 390.9333333333333,203.6 566,216 C 741.0666666666667,228.4 895.7333333333333,282.4 1038,297 C 1180.2666666666667,311.6 1310.1333333333332,286.8 1440,262 L 1440,600 L 0,600 Z");
            }
            50%{
              d: path("M 0,600 L 0,262 C 110.53333333333336,253.46666666666667 221.06666666666672,244.93333333333334 400,236 C 578.9333333333333,227.06666666666666 826.2666666666667,217.73333333333335 1011,222 C 1195.7333333333333,226.26666666666665 1317.8666666666668,244.13333333333333 1440,262 L 1440,600 L 0,600 Z");
            }
            75%{
              d: path("M 0,600 L 0,262 C 163.33333333333331,235.2 326.66666666666663,208.4 466,221 C 605.3333333333334,233.6 720.6666666666667,285.6 879,299 C 1037.3333333333333,312.4 1238.6666666666665,287.2 1440,262 L 1440,600 L 0,600 Z");
            }
            100%{
              d: path("M 0,600 L 0,262 C 143.59999999999997,268.1333333333333 287.19999999999993,274.2666666666667 470,272 C 652.8000000000001,269.7333333333333 874.8,259.06666666666666 1043,256 C 1211.2,252.93333333333334 1325.6,257.4666666666667 1440,262 L 1440,600 L 0,600 Z");
            }
          }

          .path-2{
            animation:pathAnim-2 20s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
          }
          @keyframes pathAnim-2{
            0%{
              d: path("M 0,600 L 0,412 C 121.33333333333331,385.6 242.66666666666663,359.2 409,357 C 575.3333333333334,354.8 786.6666666666667,376.8 966,390 C 1145.3333333333333,403.2 1292.6666666666665,407.6 1440,412 L 1440,600 L 0,600 Z");
            }
            25%{
              d: path("M 0,600 L 0,412 C 161.86666666666667,429.2 323.73333333333335,446.4 469,443 C 614.2666666666667,439.6 742.9333333333334,415.6000000000001 902,407 C 1061.0666666666666,398.3999999999999 1250.5333333333333,405.19999999999993 1440,412 L 1440,600 L 0,600 Z");
            }
            50%{
              d: path("M 0,600 L 0,412 C 147.06666666666666,397.06666666666666 294.1333333333333,382.1333333333333 435,370 C 575.8666666666667,357.8666666666667 710.5333333333333,348.53333333333336 877,356 C 1043.4666666666667,363.46666666666664 1241.7333333333333,387.73333333333335 1440,412 L 1440,600 L 0,600 Z");
            }
            75%{
              d: path("M 0,600 L 0,412 C 200.53333333333336,399.6 401.0666666666667,387.2 539,382 C 676.9333333333333,376.8 752.2666666666667,378.79999999999995 892,385 C 1031.7333333333333,391.20000000000005 1235.8666666666668,401.6 1440,412 L 1440,600 L 0,600 Z");
            }
            100%{
              d: path("M 0,600 L 0,412 C 121.33333333333331,385.6 242.66666666666663,359.2 409,357 C 575.3333333333334,354.8 786.6666666666667,376.8 966,390 C 1145.3333333333333,403.2 1292.6666666666665,407.6 1440,412 L 1440,600 L 0,600 Z");
            }
          }
       */