.Footer {
    position: fixed;
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    bottom: 0;
    margin-bottom: -5px;
    border-radius: 40px 40px 0 0;
    width: 90%;
    margin-left: 5%;
    background-color: #333;
    border: 3px solid rgb(142, 189, 193);
    text-align: center;
    border-top: 3px solid  black;
    padding: 0px;
    text-decoration: none;
    z-index: 999;
}

.tomesastofoot {
    display: flex; 
    justify-content: space-around; 
    width: 100%;
}

.koytaki {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; 
    padding: 5px; 
    cursor: pointer;
    margin-bottom: -15px;
    box-sizing: border-box; 
    font-size: 17px;
    font-weight: 550;
    color: rgb(255, 255, 255);
}

.koytaki:hover {
    color: rgb(255, 123, 0);
}

.tolink {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.tolink:hover {
    color: rgb(255, 123, 0);
}


.footerImg {
    width: 10%; 
    margin-bottom: -20px;
}

#epilegmeno {
    font-weight: 600;
    color: rgb(255, 123, 0);
}

/* Κανόνες CSS για tablet */
@media (min-width: 601px) and (max-width: 768px) {
 
}

/* Κανόνες CSS για κινητά */
@media (max-width: 600px) {
    .Footer {
        position: fixed;
        display: flex;
        justify-content: space-around; 
        align-items: center; 
        bottom: 0;
        margin-bottom: -5px;
        border-radius: 30px 30px 0 0;
        width: 100%;
        margin-left: 0%;
        background-color: #333;
        border: 3px solid rgb(142, 189, 193);
        text-align: center;
        border-top: 3px solid black;
        padding: 0px;
        border-left: none;
        border-right: none;
    }    

    .footerImg {
        width: 22%; 
        margin-bottom: -20px;
    }

    .koytaki {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1; 
        padding: 0px; 
        cursor: pointer;
        margin-bottom: -10px;
        margin-top: -5px;
        box-sizing: border-box; 
        font-size: 17px;
        font-weight: 550;
        color: black;
    }
    
}