.Ebook {
    background-color: #333;
    margin-bottom: -10%;
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.kentro {
    background-color: #333;
    margin-top: -40%;
    width: 80%;
    min-height: 90vh;
    margin-left: 10%;
    font-size: 25px;
    font-weight: 550;
    text-align: center;
    margin-bottom: 10%;
}

.emfformasbutt {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
}

.emfformasbutt:hover {
    border: 3px solid black;
}

.tobookstrofh {
    width: 15%;
    position: relative;
    display: inline-block;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
/* Κανόνες CSS για tablet */
@media (min-width: 601px) and (max-width: 768px) {
 
}

/* Κανόνες CSS για κινητά */
@media (max-width: 600px) {
    .kentro {
        width: 100%;
        margin-left: 0%;
    }

    .topligomesa {
        width: 90%;
        margin-left: 5%;
    }

    .tobookstrofh {
        margin-top: 20px;
        width: 35%;
        position: relative;
        display: inline-block;
        animation: float 3s ease-in-out infinite;
    }
}