.Ebook {
    background-color: #333;
    margin-bottom: -10%;
}

.kentro {
    margin-top: -40%;
    width: 80%;
    margin-left: 10%;
    font-size: 25px;
    font-weight: 550;
    text-align: center;
    margin-bottom: 10%;
}

/* Κανόνες CSS για tablet */
@media (min-width: 601px) and (max-width: 768px) {
 
}

/* Κανόνες CSS για κινητά */
@media (max-width: 600px) {
    .kentro {
        width: 95%;
        margin-left: 2.5%;
    }
}